// .control-panel {
    
//     width: 240px; /* Set the width of the sidebar */
//     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
//     float:left;
//     top: 0; /* Stay at the top */
//     left: 0;
    
//     background-color: rgb(244, 245, 247);
//     overflow-x: hidden; /* Disable horizontal scroll */
//     padding:16px;
//     padding-top:0px;

//     display:flex;
//     flex-direction:column;
//     align-content:space-around;
// }

// .control-panel a {
//     // padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     margin-bottom:16px;
//   }
  
//   .control-panel a:hover {
//     color: #f1f1f1;
//   }

//   .control-panel h4 {
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//   }

.controlPanel {
    // background-color: rgb(18, 44, 67) !important;
    // color: rgb(184, 192, 199) !important;
    // .bold {
    //     color: rgb(184, 192, 199) !important;
    // }
    // background-color: #a8a8a8 !important;
    // color: rgb(0, 0, 0) !important;
    // .bold {
    //     font-weight:bolder !important;
    // }
}

.bugTrackText {
    padding:8px;
    padding-left:56px;
}

.MuiListItemIcon-root {
    min-width: 40px !important;
}