 .projectPage {
    min-width:900px;
} 

.projectPageTop {
    
    display:flex;
    flex-direction: row;
    align-content: space-between;

}    

.detail {

    flex:1;
}
.userTable {
    /* width:400px;
    max-width:400px; */
    flex:1;
}
.ticketTable {
    flex:2;
}

.projectPageBottom {
    /* display:inline-block;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; */
}    

.card {
    width:400px;
    margin:8px;
}
.cardHeader {
    background-color: #303030;
    color: white;
    
}
