 .projectPage {
    min-width:900px;

} 

.projectPageTop {
    
    display:flex;
    flex-direction: row;
    align-content: space-between;
    word-wrap:normal;
    white-space: normal;
}    

.detail {

    flex:1;
}
.userTable {
    /* width:400px;
    max-width:400px; */
    flex:1;
    display:flex;
}
.editUsers {
    flex:1;
}
.wrapTable {
    flex:2;
}

.ticketTable {
    flex:2;
}

.projectPageBottom {
    /* display:inline-block;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; */
}    

.card {
    width:500px;
    margin:8px;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.cardHeader {
    background-color: #303030;
    color: white;
    border-radius:0px;
    height:48px;
}



.greyText {
    /* color: #646464; */
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: 24px;
    min-width: 120px;
    width: 25%;
    
    max-width: 180px;
    line-height: 1;
    font-weight: bold !important;
}

.greyText2 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 65%;
    box-sizing: border-box;
    /* padding-left:16px; */
}

.attributeContainer {
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 16px;
    word-break: break-word;
   
}