.closeButton {
    min-width: 50px !important;
    margin-left: 32px !important;
}

.addUserButton {
    width: 84px !important;
}

.dialogueBox {
    padding:32px !important;
}
.dialogueActions {
    padding:0px !important;
    margin-bottom: 16px !important;
}

.marginBottom {
    margin-bottom: 16px;
}