body {
    margin: 0;
   
    overflow-x:hidden;

    font-family: Roboto;
    background-color: rgb(246,247,249);
}

#root {
   
}
.App {
    
    height:100%;
    margin-left: 230px;
    /* padding:8px; */
    
    /* display:flex; */
}
.AppNoUser {
   height:calc(100vh - 88px);

}

.appWrapper {
     /* width: 80%;  */
    padding:16px;
    padding-top:0px;
    overflow-x: auto;
    overflow-y: auto;
    height:100%;
    white-space: nowrap;
    margin:auto auto;
}

.dashboardWrapper {
    display: flex;
    flex-direction: row;
}