body {
    margin: 0;
   
    overflow-y:hidden;

    font-family: Roboto;
}

#root {
   
}
.App {

    height:100%;
    margin-left: 230px;
    padding:8px;
    overflow-x: auto;
    overflow-y:hidden;
    white-space: nowrap;
    /* display:flex; */
}